// Catppuccin
$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;
$red: #d20f39;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #df8e1d;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #1e66f5;
$lavender: #7287fd;
$text: #4c4f69;
$subtext1: #5c5f77;
$subtext0: #6c6f85;
$overlay2: #7c7f93;
$overlay1: #8c8fa1;
$overlay0: #9ca0b0;
$surface2: #acb0be;
$surface1: #bcc0cc;
$surface0: #ccd0da;
$base: #eff1f5;
$mantle: #e6e9ef;
$crust: #dce0e8;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-size: 15px;
  font-family: MesloLGS NF;
}

.bar {
  // border-radius: 30px;
  // background-color: $crust;
  color: $subtext1;
}

.workspaceoverlay {
    background-color: transparent;
}

.no-background {
    background-color: transparent;
}

// .hover-widget {
//   padding-right: 5px;
//   padding-left: 5px;
// }

scale > contents > trough {
  background-color: $surface1;
  border-radius: 50px;
  min-height: 3px;
  // max-height: 8px;
  min-width: 75px;
  margin-left: 5px;
  margin-right: 10px;
}

scale > contents > trough > slider {
  background-color: $text;
  border-radius: 50px;
  min-height: 15px;
  min-width: 15px;
  // margin-left: 5px;
  // margin-right: 5px;
}

.time {
  background-color: $base;
  color: $sapphire;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.battery {
  background-color: $base;
}

.temp {
  background-color: $base;
  color: $sapphire;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.net {
  background-color: $base;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: $sapphire;
}

.shown {
  background-color: $base;
  color: $sapphire;
  padding-left: 5px;
  padding-right: 5px;
}

.hidden {
  background-color: $base;
  color: $text;
  padding-left: 5px;
  padding-right: 5px;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
  // border-top-right-radius: 30px;
  // border-bottom-right-radius: 30px;
}

.stats {
  background-color: $base;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding-left: 15px;
}

.volume {
  background-color: $base;
  color: $sapphire;
  padding-right: 10px;
}

.title {
  padding-left: 15px;
  padding-right: 15px;
  background-color: $base;
  color: $sapphire;
  // color: $crust;
  // font-weight: bold;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

// .bar-left {
//   background-color: $base;
//   border-top-left-radius: 30px;
//   border-bottom-left-radius: 30px;
//   color: $sapphire;
// }
//
.workspaces {
  background-color: $crust;
  color: $sapphire;
  min-height: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right: 10px;
}

.workspace-DP-2 {
  padding-left: 15px;
  // padding-right: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.workspace-DP-4 {
  padding-left: 10px;
  padding-right: 15px;
  // background-color: $base;
  // color: $base;
  background-color: $base;
  // color: $base;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

// .workspace-DP-4 .selected {
//   color: $base;
// }

.bold {
  font-weight: bold;
}

.iconbox {
  color: $sapphire;
}

.selected {
  color: $sky;
}

.urgent {
  color: $red;
}

.selected .number {
    font-weight: bold;
}

.process {
    font-style: oblique;
}

